@page "/landingPage"
@inject HttpClient httpClient
@inject NavigationManager navigationManager
@using FuelStation.Web.Shared;


<h2>StamOil Fuel </h2>
<h3> Since about a week and a half ago, we are there for all your refueling needs. </h3>
@code {

}
